<script>
  $(function() {
    $(".navbar").removeClass("navbar-devise");
    $(".navbar").addClass("navbar-default");
  })
</script>

<div class="jumbotron">
  <%= render 'partial/navbar' %>

</div>


<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
